{% extends 'catalog/home.html' %}
{% load tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <a class="btn btn-outline-primary mx-auto" href="{% url 'catalog:product_create' %}" style="margin-bottom: 50px">Добавить продукт</a>
      {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    {% include 'catalog/includes/inc_image.html' %}
                    <h4 class="card-text">Категория: {{product.category}}</h4>
                    <div class="card-footer">
                      {% for version in product.versions.all %}
                      {% if version.active %}
                      <p>Версия: {{ version.version }} Название: {{ version.name }}</p>
                      {% endif %}
                      {% endfor %}
                  </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'catalog:product_info' product.pk%}" role="button" aria-disabled="true">Посмотреть</a>
                        <a class="btn btn-sm btn-outline-success" href="{% url 'catalog:product_update' product.pk %}" role="button" aria-disabled="true">Изменить</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'blog:blog_delete' product.pk %}" role="button">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                SkyStore
                <small class="d-block mb-3 text-muted">&copy; 2023</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}